<div>
  <div>
    @if (selected) {
    <div *ngIf="selected">
      <app-movie-detail [movieDetail]="selectedMovie"></app-movie-detail>
    </div>
    }

    <table>
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Imagen</th>
          <th>Duracion en minutos</th>
          <th>Director</th>
        </tr>
      </thead>
      <tbody>
        @for(movie of movies; track movie.id){
        <tr (click)="onSelect(movie)">
          <td>{{ movie.titulo }}</td>
          <td>
            <img
              class="movie-img"
              [src]="movie.poster"
              alt="{{ movie.poster }}"
            />
          </td>
          <td>{{ movie.duracion_minutos }} min</td>
          <td>{{ movie.director }}</td>
        </tr>
        }
      </tbody>
    </table>

    <h3>Actores por película</h3>

    <div class="actors-chart">
      @for(movie of movies; track movie.id){
      <div class="bar-container">
        <span class="movie-title">{{ movie.titulo }}</span>
        <div
          class="bar"
          [style.width.%]="movie.actores.length * 15"
        >
          {{ movie.actores.length }} actores
        </div>
      </div>
      }
    </div>
  </div>
</div>
